[Desktop Entry]
Type=Application
Name=Google Chrome
Comment=Web Browser
Exec=google-chrome-tuned --start-maximized
Icon=google-chrome
Terminal=false
Hidden=false
